
# This file is part of the ReactPHP Foundation <https://github.com/itnelo/reactphp-foundation>.
#
# (c) 2020 Pavel Petrov <itnelo@gmail.com>.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
# @license https://opensource.org/licenses/mit MIT

version: '3.8'

services:
    app:
        build:
            context: ./docker/${APP_ENV}/app
            args:
                HOST_UID: ${HOST_UID}
                TIMEZONE: ${TIMEZONE}
                DEPLOYMENT_PATH: ${DEPLOYMENT_PATH}
                PHP_VERSION: ${PHP_VERSION}
        networks:
            - back_bridge
        ports:
            - "${APP_SERVER_PORT}:${APP_SERVER_PORT}"
        volumes:
            - ${SOURCE_PATH}:${DEPLOYMENT_PATH}

networks:
    # Debugging example:
    # docker-compose run -p 6636:6636 --rm app -d xdebug.remote_autostart=1 -d xdebug.remote_host=172.110.0.1 bin/app
    # you can also try more convenient "host.docker.internal" for some systems.
    back_bridge:
        driver: bridge
        ipam:
            driver: default
            config:
                -   subnet: 172.110.0.0/16
